/* This is the default rule for this style sheet (CSS rule for the universal selector (wildcard)) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #911763;
    --secondary-color: #f5d0dd;
    --background-color: #aa336a;
    --box-shadow: lightpink;
    --subheading-text-color: #543942;
    --nav-text-color: whitesmoke;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--nav-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

h2 {
    position: absolute;
    top: 30px;
    left: 100px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--background-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--box-shadow);
    float: right;
}

p {
    padding: 15px;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--subheading-text-color);
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--subheading-text-color));
}